body {
}
/*Ai Images start*/

#rightSideAiImages {
    padding-top:50px;
    padding-left: 20px;
    padding-right: 20px;   
}
.advanceSet {
    padding-left: 20px;
    padding-right: 20px;
}
#hideDet {
    padding-left: 20px;
    padding-right: 20px;
}
/*Ai Images end*/
/*All AI Image start*/
#allImageBody {
    padding-top: 65px;
}

/*All AI Image End*/
/*All Documents Start*/
#allDocBody {
    padding-top: 65px;
}
/*All Documents End*/

/*AccountSetting start*/
#ac_content_right_1 {
    padding-top: 60px;
    padding-bottom: 40px;
}
#ac_content_right_2 {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}
#ac_content_right_3 {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}
.ac_content_right {
    padding-left: 20px;
    padding-right: 20px;
}
#AccountPage {
    padding-top: 65px;
}

#imageInput {
    border: none;
}
/*AccountSetting end*/
/*Ai Chat Start*/
#chatHistory {
    display:block;
}
.aiChat{
    width:100%;
}
.aiChat p{
    background-color:yellow;
    padding:10px;
    width:100%;

}
.chat p {
    background-color: deepskyblue;
    padding: 10px;
    width:100%;
    text-align:right;
}
.chat{
    width:100%;
}
/*Ai Chat end*/
/*Testimonial page start*/
#tBody {   
    padding-top:65px;
}
.firstRowTestimonial{
    padding-top:20px;
    padding-bottom:100px;    
}
.tempDiv {
    padding:20px;
    height: 300px;
    box-shadow: 2px 2px 5px grey;
    background: bisque;
    text-align-last: center;
}
.secondRowTestimonial{
   
    background:white;
  
}
.secondRowTestimonial {
    padding-top:50px;
    padding-left:125px;
    padding-right:125px;
    padding-bottom:50px;
}
@media (max-width:700px){
    #rightSideContent{

    }
    .secondRowTestimonial{
        padding-left:20px;
        padding-right:20px;
    }
}
/*Testimonial page end*/
/*AI Templates Page start*/
#allTempHead {
    margin-left:20px;
    width:95%;
}
#aiRightDiv{
    padding-top:50px;
    padding-left:50px;
    padding-right:50px;
}
#aiTempBody {
    padding-top: 65px;
}
.sTempHead{}
.sTemp{

}
.ai-templates {
    padding:20px;
    border-radius: 12px;
    margin: 20px;
    background: white;
}
.ai-templates i {
    box-shadow: 1px 0px 4px 1px grey;
    padding: 7px;
    border-radius:5px;
}
/*.content {
    padding:15px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px grey;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    user-select: none;
}*/
p.margin-bottom-0{
    user-select:none;
}
.dashboard-status-button i {
    padding: 0px;
}
.templates-main:hover{
    text-decoration:none;

}

/*AI Templates Page end*/
/*Withdrawals Start*/
#withdrawalsBody {
    padding-top: 65px;
    background: #f2f2f2;
}
#contentWithdrawalsRightSide {
    padding: 25px;
    background:#f2f2f2;
}

#contenWithDrawalsRSInner {
    background: white;
}
#hideContentInner{
    padding:25px;
}
#hideDiv2 {
    padding-left: 25px;
}
#withdrawalRequest {
    margin-top: 20px;
    padding:25px;
    background:white;
}
/*Withdrawals end*/
/*TransactionPage Start*/
#transactionBody {
    padding-top: 65px;
    padding: 100px;
    background: #f2f2f2;
}
#tableData {
    margin-top: 40px;
    background: white;
}
/*TransactionPage End*/
/*Affiliate-program start*/
/*Dashboard Start */
#aBody {
    padding-top: 65px;
}

#mDiv {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    margin: 10px;
    padding: 10px;
}
#mSubDiv3 {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    margin: 10px;
    padding: 10px;
}
#mSubDiv4 {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    margin: 10px;
    padding: 10px;
}
#commission {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    margin: 10px;
    padding: 10px;
}
.in1{
    width:80%;
    outline:none;
   /* border:10x solid #e0e0e0;*/
    border-radius:5px;

}
/*Affiliate-program end*/
/*Global scope start*/

#sidebar {
    padding-top: 10px;
    background: #f2f2f2;
}

#content {
    background: #f2f2f2;
    padding-left:30px;
    padding-right:30px;
}

.headerBar {
    position: fixed;
    display: grid;
    grid-template-columns: 0fr 8fr 0fr 0fr 0fr;
    align-items: center;
    background-color: white;
    z-index: 999;
}
ul li .dropdown a{
    width:100%;   
    height:45px;
    align-items:center;
    
    padding:10px;
}
ul li {
    background: white;
    list-style: none;
    height: 45px;
    align-items: center;
    text-decoration: none;
    /*box-shadow: 0px 1px 3px 1px grey;*/
    padding: 10px;
}
.scrollable {
    overflow-y: auto;
    height: 500px;
}
#MyDocDrop {
    color: blue;
    background: none;
    width: 100%;
    border: none;
}
#dropdownMenuLink {
    color: blue;
    background: none;
  box-shadow:none;
  border:none;
}
.footer {
    position: relative;
    z-index: 1;
    margin: 10px;
}
/*Global scope end*/


/*SpeechTOText start*/
.contentLeft {
    background: white;
    box-shadow: 0px 1px 3px 0px grey;
    padding: 15px;
}
#speechBody {
    padding-top: 65px;
}
.generateHeaderBar {
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0px 1px 3px 0px grey;
    background: white;
    grid-template-columns: 0fr 6fr 1fr 0fr;
}
/*SpeechTOText end*/

/*Dashboard Design start*/
#chartbody {
    background: white;
    margin: 0px;
}
@media(max-width:990px) {
    #rightSide {
        padding-top: 50px;
    }
}
@media(max-width:600px) {
    #rightSide {
        padding-top: 50px;
    }
}
#wordsUsed {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.08);
    min-height: 150px;
    
    padding-top: 10px;
}

#imagesUsed {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.08);
    min-height: 150px;
   
    padding-top: 10px;
}

#speechText {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.08);
    min-height: 150px;
   
    padding-top: 10px;
}
.dashboardBody {
    padding-top: 135px;
}
#viewImage {
    width: auto;
}
@media(min-width:600px) {
    #websiteLogo {
        padding-left: 90px;
    }

    #btnToggle {
        padding-left: 130px; /*hide btnToggle when screen size max 750px*/
    }
}

@media (max-width:990px) {
    #btnToggle {
        display: none; /*hide btnToggle when screen size max 750px*/
    }
}
#emailBar {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.08);
    /* width: 100%;*/
    /* display: grid;
    grid-template-columns: 0fr 8fr 0fr 0fr;*/
    align-items: center;
    display: flex;
}
#dHeader {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.headerBarDashboard {
    /*position:fixed;*/
    top: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.08);
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 8fr 0fr 0fr 0fr;
    align-items: center;
    /*  z-index: 999;*/
    /*display:inline-block;*/
}

/*Dashboard Design end*/
/*partially Global Scope for restrict the pop up in speectToText Page and all Templates Page*/
/*popUp start*/
.tox-notifications-container {
    display: none !important;
}

.tox .tox-notification--warn, .tox .tox-notification--warning {
    display: none;
}
/*popup end*/

/*Responsive Design of SpeechToText*/
@media (max-width:990px) {
    #sidebar {
        display: none; /* Hide div2 when screen width is less than or equal to 768px */
    }
    #dashboardBody {
        margin-top: 177px;
    }
    /*#content {
        width: 100%;
    }*/
   
    #btnToggle {    
        display: none; /*hide btnToggle when screen size max 750px*/
    }
}
#subPageLink {
   background:white;
    padding: 5px;
    float:right;
}
/*Responsive using grid start*/
 

@media(min-width:342px){
    #chatSubmitBtn {
        float:right;
    }
}
@media(min-width:500px){
    #right{
        float:right;
    }
}

@media(min-width:600px){
    #websiteLogo {
        padding-left:90px;
    }
}
.tox .tox-statusbar__branding svg {
    display: none;
}
@media(min-width:991px) {
    #SubPage{
        float:right;
    }
}

 
/*Responsive using grid end*/
/*.topbar {
        position: fixed;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgb(0,0,0,0.08);
        width: 100%;
        height: 85px;
        display: grid;
        grid-template-columns: 0fr 8fr 0fr 0fr;
        align-items: center;
        z-index: 999;
    }*/

    /*ai chat*/



.clearfix::after {
        content: "";
        display: table;
        clear: both;
    }



.textbox-container {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
    }

#hover-textbox {
        width: 200px;
        height: 100px;
    }

.raise {
        border: none;
        margin: 5px;
        outline: none;
    }


.input-group-append {
        margin-left: -1px;
    }


.btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }



.btn-group btnToggle {
        border: none;
        outline: none;
    }
/* V arun kumar css code start*/
.btnToggle {
        border: none;
        outline: none;
        background-color: skyblue;
        padding: 10px;
    }
/*v arun kumar css code end*/
    /*ChangePlan Page*/
.pricing-plan-features ul li {
        color: black;
    }

.radio-button-list label {
        margin-right: 10px;
    }

.text-container {
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.form-group {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

.form-group i {
            font-size: 20px;
          /*  color: #333;*/
        }




