body {
}
/*Responsive Design of SpeechToText*/
@media (max-width:990px) {
    #sidebar {
        display: none; /* Hide div2 when screen width is less than or equal to 768px */
    }
    #dashboardBody {
        margin-top: 177px;
    }
}

.ai-templates {
   margin:6px;
    padding:10px;
}
.aitempl {
    /*//box-shadow: 1px 1px 1px 3px grey;*/
    background: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width:80%;
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    position: relative;
    z-index: 1;
}
.textbox-container {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
}

#hover-textbox {
    width: 200px;
    height: 100px;
}

.raise{
    border:none;
    margin:5px;
    outline:none;
}


.input-group-append {
    margin-left: -1px;
}
@keyframes typing-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pt-50{
    padding-top:50px;
}
.btn-group btnToggle {
    border:none;
    outline:none;
}
/* V arun kumar css code start*/
.btnToggle {
    border: none;
    outline: none;
    background-color: deepskyblue;
    padding: 10px;
}
/*v arun kumar css code end*/
/*ChangePlan Page*/
.pricing-plan-features ul li {
    color: black;
}
.radio-button-list label {
    margin-right: 10px;
}
.text-container {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-group {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form-group i {
    font-size: 20px;
    color: #333;
}


.content{
    color:black;
}


/*Account Setting Page*/
.leftSideBarOfAS {
    position: fixed;
    width: 260px;
    height: calc(100%-95px);
    background: #f2f2f2;
    overflow-x: hidden;
    padding-bottom: 20px;
}
#sidebar ul li {
    background-color: #cbb4b4;
}
.leftSideBarOfAS ul {
        margin-top: 20px;
    }

.leftSideBarOfAS ul li {
        width: 100%;
        list-style: none;
        color: cornflowerblue;
        background-color: #007bff;
    }
.leftSideBarOfAS ul li dropdown-menu a {
            width: 100%;
            text-decoration: none;
            color: cornflowerblue;
            height: 25px;
            display: flex;
            align-items: center;
        }

.leftSideBarOfAS ul li a {
            width: 100%;
            text-decoration: none;
            color: cornflowerblue;
            height: 25px;
            display: flex;
            align-items: center;
        }
.leftSideBarOfAS ul li a i {
        color: cornflowerblue;
        min-width: 60px;
        font-size: 24px;
        text-align: center;
    }
      
        /*Dashboard Page*/
.leftSideBar {
    position: fixed;
    width: 260px;
    height: calc(100%-95px);
    background: #f2f2f2;
    overflow-x: hidden;
    padding-bottom: 20px;
}
#sidebar {
    background-color: #f5f5f5;
    height: 100vh;
}

#content {
    background-color: #fff;
    height: 100vh;
}
/*.hide-div {
    display: none;
}*/

.full-width {
    width: 100%;
}

.leftSideBar ul{
    margin-top:20px;
}
/*.col-lg-9{
    width:75%;
}
.col-lg-3 {
    width: 25%;
    margin-bottom:150px;
}*/
/*Left Side Panel*/
    .leftSideBar ul li {
        width: 100%;
        list-style: none;
        color: cornflowerblue;
    }
        .leftSideBar ul li dropdown-menu a {
            width: 100%;
            text-decoration: none;
            color: cornflowerblue;
            height: 25px;
            display: flex;
            align-items: center;
        }
        .leftSideBar ul li a {
            width: 100%;
            text-decoration: none;
            color: cornflowerblue;
            height: 25px;
            display: flex;
            align-items: center;
        }
.leftSideBar ul li a i {
        color: cornflowerblue;
        min-width: 60px;
        font-size: 24px;
        text-align: center;
    }

body::-webkit-scrollbar {
    display: none;
}
    .leftSideBar ul li a svg {
        min-width: 60px;
        font-size: 24px;
    }
    .container-fluid {
        display: inline;
    }
.leftSideBar ul li a svg {
    padding-right: 8px;
    height:20px;
    width: 20px;
    font-size: 20px;
    color: #909090;
    transition: .3s;
    position: relative;
    top: 2px;
}
    .axis-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

    .axis-y span {
        font-size: 12px;
    }

.chart-container {
    flex-grow: 1;
    position: relative;
    height: 100%;
}

li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.active {
    border-radius: 1px;
}
a {
    color:black;
}
.scrollable {
    overflow-y: auto;
    height: 500px;
}
/*

#dHeader {
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    position: absolute;
    z-index: 999;
    background-color: red
}*/
ul {
    list-style: none;
    position: center;
    box-shadow: 2px 2px 1px grey;
}
    ul li {
        box-shadow: 2px 2px 1px grey;
        list-style: none;
        background-color: white;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
        border-radius: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        line-height: 25px;
        /* box-shadow: 1px 1px 5px grey;*/
    }
